.main {
    @import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&family=Outfit:wght@400;700&display=swap');
  margin-left: 10%;
  margin-right: 10%;
}

.nav {
    cursor: pointer;
  border-bottom-style: solid;
  height: 40px;
  display: grid;
  align-content: center;
  list-style: none;
  grid-template-columns: repeat(7, 1fr);
  width: 90vw;
}
.container {
    
  margin-top: 10%;
  /* border-style: solid; */
  display: grid;
  justify-content: center;
  /* align-items: center; */
  /* grid-template-rows: auto; */
  height: 30vh;
}
.account {
  /* border-style: solid; */
  display: flex;
  height: 40px;
  justify-content: space-between;
}
.content {
  /* border-style: solid; */
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 justify-content: space-evenly;


}
.image_container {
  padding-top: 5%;
  display: grid;
}
.image_container img {
    cursor: pointer;
  height: 300px;
  border-radius: 15px;
}
.description{
    /* border-style: solid; */
    width: 300px;
}
.thumb_nails{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    /* border-style: solid; */
    padding-top: 10px;
}
.thumb_nails >img{
    opacity: 50%;
    width: 60px;
    height: 60px;
}
