body{
    display: flex;
    justify-content: center;
}

    .main{
        
        margin-top: 5vh;
        border-style: solid;
        border-radius: 10px;
        /* height: 60vh; */
        width: 500px;
        background-color: #3e5f4e;
        color: aliceblue;
    }

    .header{
        display: flex;
        justify-content: center;
        /* border-style: solid; */
        height: 6vh;
    }


    .addClass{
        display: flex;
        justify-content: flex-end;
    }
    .addClass button{
        margin-right: 5px;
        font-size: 30px;
        color: blueviolet;
        width: 60px;
        height: 40px;

    }
    .bottomSection{
        margin-top: 30px;
        /* border-style: solid; */
        height: 30vh;
    }
    .contactCard{
        display: flex;
        flex-direction: column;
        /* border-style: solid; */
        gap: 20px;
    }
    .user{
        margin-left: 30px;
        display: flex;
        flex-direction: row;
        /* border-style: solid;
        border-color: brown; */
       /* justify-content: space-evenly;  */
        gap: 100px;
    }
    .container{
        display: flex;
        
    }
    .mainContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .breaker{
        margin-left: 25px;
        width: 80%;
    }

  .name{
width: 30px;
  }
  .number{
    width: 30px;
  }
  @media screen and (max-width:672px) 
  {
    .main{
        width: 500px;
    }
  }
  
   