
.mainNew{
    padding-top: 10vh;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    gap: 70px;
    /* border-style: solid; */
}
button{
    font-size: 15px;
    color: blueviolet;
    width: 100px;
    height: 40px;
}
